/* ==========================================================================
   Header
   ========================================================================== */

.header-content {
    border-bottom: 1px solid var(--color-main-light);
    display: flex;
    padding: 0em 1.5em;
    justify-content: space-between;
    align-items: center;
}
.
.header-content a {
    text-decoration: none;
}


/* Logo
   ========================================================================== */
.logo {
    display: inline-block;
    font-size: 24px;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.logo a {
    text-decoration: none;
}

.logo:hover span{
    color: var(--color-app);
}

.logo-open {
    display: block;
    color: var(--color-app);
}
.logo-work,
.logo-outs {
    color: var(--color-app-light);
}

.description {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .025em;
    color: var(--color-main-medium);
}

/* Navigation
   ========================================================================== */
.nav-site {
    font-size: 13px;
}
.nav-site ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-site li {
    border-left: 1px solid var(--color-main-light);
    flex-grow: 1;
    text-align: center;
}
.nav-site a {
    display: block;
    padding: 1.25rem;
    color: var(--color-main-medium);
    text-decoration: none;
}
.nav-site a:hover,
.nav-site .is-active a {
    color: var(--color-main);
}


/* Add workout button with submenu -------------------------------------------*/
.add-workout {
    position: relative;
}
.add-workout::before{
    content: "+";
    font-weight: 800;
    font-size: 32px;
    line-height: 0;
    position: relative;
    top: .75em;color: var(--color-app);
}
.add-workout span{
    display: none;
}

.add-workout:hover::after{
        content: "";
        position: absolute;
        background-color: white;
        width: 100%;
        height: 1px;
        display: block;
        z-index: 20;
}
.add-workout:hover ul{
    display: inline-block;
}

/* submenu -------------------------------------------------------------- */
.add-workout ul{
    display: none;
    flex-direction: column;
    position: absolute;
    right: -1px;
    border: 1px solid var(--color-main-light);
    width: 150px;
}
.add-workout ul li{
    border-left:transparent;
    text-align: left;
}
.add-workout ul a:hover{
    background-color: var(--color-main-xtralight);
}

/* States -------------------------------------------------------------- */
.is-login .description {
    display: none;
}
.is-login .logo-open {
    display: inline-block;
}
