# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/

# ZODB databases
var/db/Data.*
var/db/blobs
var/zeo/Data.*
var/zeo/zeo.log
var/zeo/zeo.sock
var/zeo/zeo.pid
var/zeo/blobs

# mail queue
var/spool
var/run/mail-queue-processor.lock

# log files
var/log/openworkouts.log
var/log/queueprocessor.log

# JS static external components and libraries
ow/static/components
ow/static/maps
