/* ==========================================================================
   Login page
   ========================================================================== */

.login-content {
    background-image: url("../../media/img/back-01.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 98px);
    padding: 1em 0;
}

.login-content form {
    max-width: 380px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 6px;
    padding: 2em  1.5em;
}


.login-content label {
    color: white;
}

.login-content a {
    color: var(--color-main-light);
    font-size: 13px;
    text-decoration: none;
    margin-right: .75em;
}

.login-content a:hover {
    color: white;
}








/* Provisional */
.message {
    padding: .5em;
    margin: 0;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
}

.message.message-error{
    background-color: var(--color-app-dark);
    color: white;
    margin-bottom: .5em;
}