:root {

    /* colors */
    --color-main: #151515;
    --color-main-dark: #454545;
    --color-main-medium: #666;
    --color-main-light: #ccc;
    --color-main-xtralight: #f5f5f5;

    --color-app: #EE4056;
    --color-app-medium: #ee0000;
    --color-app-light: #ee9999;

	/* Media queries */
	--screen-xs: 320px;
	--screen-s: 480px;
	--screen-m: 800px;
	--screen-l: 1024px;
	--screen-xl: 1440px;

}
