.verify-account-content {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* dynamic min-height based on window height does not work well
     with premailer and generating the proper html with styles for mails */
    min-height: 400px;
    padding: 1em 0;
    /* RGB calculated color does not work well with premailer and
       generating the proper html with styles for mails */
    color: #151515;

    .info {
        max-width: 580px;
        /* RGB calculated color does not work well with premailer and
         generating the proper html with styles for mails */
        background-color: #e1e1e1;
        border-radius: 6px;
        padding: 2em  1.5em;
        div {
            margin-bottom: 1.5em;
        }
    }

    a {
        /* RGB calculated color does not work well with premailer and
           generating the proper html with styles for mails */
        color: #151515;
        font-size: 13px;
        text-decoration: none;
        margin-right: .75em;
        &:hover {
            color: #151515;
        }
    }

    .button {
        background-color: @color-app;
        background: @color-app;
        color: white;
        text-transform: uppercase;
        &:hover {
            background-color: @color-app-important;
        }
    }

}
